<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
             xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="./layout/adminlayout.html">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <body>
<div layout:fragment="admin">
    <div class="container">

        <div th:if="${success}">
            <p role="alert" class=" alert-success">
                    New Blog created successfully.
            </p>
        </div>
        <div th:if="${delete}">
            <p role="alert" class="alert-success">
                Successfully Deleted.
            </p>
        </div>
        <div th:if="${update}">
            <p role="alert" class="alert-success">
                Successfully Updated.
            </p>
        </div>

        <div class="table-responsive">
            <table class="table table-dark mt-5">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Category</th>
                    <th>Body</th>
                    <th>Author</th>
                    <th>Details</th>
                    <th>Delete</th>
                    <th>Update</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="blog : ${blogs}">
                    <td th:text="${blog.title}"></td>
                    <td th:text="${blog.category}"></td>
                    <td th:text="${#strings.substring(blog.body,0,10)}"></td>
                    <td th:text="${blog.author.name}"></td>
                    <td><a href="#" th:href="@{'/blog/'+${blog.id}}" class="btn btn-primary">
                        Details
                    </a> </td>
                    <td><a href="#" th:href="@{'/blog/delete/'+${blog.id}}" class="btn btn-link">
                        Delete
                    </a> </td>
                    <td><a href="#" th:href="@{'/blog/update/'+${blog.id}}"  class="btn btn-primary">Update</a> </td>

                </tr>
                </tbody>
            </table>
            <a href="#" th:href="@{/blog}" class="btn btn-primary">New Blog</a>
        </div>

    </div>

</div>

</body>
</html>