<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
             xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="./layout/adminlayout.html">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <body>
<div layout:fragment="admin">
    <div class="container">
        <h4 class="text-muted text-center" th:text="${blog.title}"></h4>
        <p th:text="${blog.body}"></p>
        <div class="row mt-3">
            <div class="col-sm-2"></div>
            <div class="col-sm-2"></div>
            <div class="col-sm-2"></div>
            <div class="col-sm-2"></div>
            <div class="col-sm-2"></div>
            <div class="col-sm-2">
                <p th:text="${'Developed by                 '+       blog.author.name}" class="text-success"></p>
            </div>

        <a href="#" th:href="@{/blogs}" class="btn btn-primary">Go to blog</a>
    </div>

</div>

</body>
</html>